@model OrdersMVC.Models.Order

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your Order</h1>
<h2>
    Order ID: @Model.ID <br />
    Order date: @Model.OrderDate <br />
    Customer ID: @Model.CustomerId <br />
    Additional comments: @Model.Comments <br />
</h2>
